* {
    background-color: white;
    color: darkgray;
}


header {
    text-align: center;
}

/* NAV BAR STYLING (Logo on the left, Links on the right) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #838080;
}



h1 {
    color: #382E4A;
}

h2{
    color: #BCA5E4;
}

h3 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
   color: #ADC9EA;
}



#home {
    text-align: center;
}




/* HERO BANNER STYLING */
.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
}


.analyzer {
    justify-content: center;
    text-align:center;
    margin-top: 50px;
}
/* CARD ROWS STYLING (Side-by-Side that stacks on mobile) */
.feature-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.feature-card {
    flex: 1 1 250px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}



/* CONTACT FORM STYLING : REVISIT !!! */
.contact {
    text-align: center;
}

button {
    border-color: #ADC9EA;
}
